// import Quicksand font
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@mixin Border($color)   {
    border: 3px solid $color;
}

$AppBackgroundColor: white;

%Container  {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    resize: none;
    padding: 8px;
    font-size: 24px;
    line-height: 24px;
    /*
    overflow-y: auto;
    overflow-x: none;
    */
    overflow: auto;
    height: auto;
    width: 400px;
    box-shadow: 0px 4px 10px -8px grey;
    background-color: white;
    font-family: 'Quicksand', 'san-serif';
    text-align: left;
    z-index: 1;

    &::placeholder {
        color: rgb(22, 91, 219);
    }
}

@mixin FooterAndHeader($height, $z-index)    {
    position: fixed;
    width: 100%;
    height: $height;
    background-color: rgb(40,40,40);
    color: white;
    line-height: $height; // make the text vertically center using line-height method: line-height = height
    font-family: 'Quicksand', sans-serif;
    z-index: $z-index;
}

#app  {
    display: block;
    background-color: $AppBackgroundColor;
    position: relative;
    text-align: center;
    @include Border(blue);
    margin: 0px;
    padding: 0px;
    @include Border(magenta);

    #header    {
        @include FooterAndHeader(100px, 2);
        @include Border(black);
        font-weight: 900;
        font-size: 32px;
        top: 0px;

        i   {
            color: rgb(27, 100, 196);
        }
    }

    #content  {
        margin-top: 120px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: row;
        @include Border(red);
        justify-content: space-evenly;
        padding: 10px;
        position: relative;
        z-index: 1;
        
        .container  {
            @extend %Container;
            @include Border(green);
        }

        #editor {

        }

        #preview    {
            color: rgb(22, 91, 219);
        }
    }

    #footer {
        @include FooterAndHeader(50px, 3);
        @include Border(green);
        bottom: 0px;
        left: 0px;
    }
}