// import Quicksand font
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@mixin Border($color)   {
    border: 3px solid $color;
}

%Container  {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    padding: 8px;
    resize: none;
    font-size: 24px;
    line-height: 24px;
    overflow-y: auto;
    overflow-x: none;
    height: auto;
    width: 400px;
    box-shadow: 0px 4px 10px -8px grey;
    background-color: white;
    font-family: 'Quicksand', 'san-serif';
    text-align: left;
    z-index: 2;

    &::placeholder {
        color: rgb(22, 91, 219);
    }
}

#app  {
    display: block;
    position: relative;
    text-align: center;
    @include Border(blue);    

    #header    {
        position: fixed;
        /*  display: block; */
        top: 20px;
        width: 100%;
        height: 100px;
        @include Border(black);
        background-color: black;
        color: white;
        line-height: 100px; // make the text vertically center using line-height method: line-height = height 
        font-weight: 900;
        font-size: 32px;
        font-family: 'Quicksand', sans-serif;
        opacity: 0.8;
        z-index: 1;

        i   {
            color: rgb(27, 100, 196);
        }
    }

    #content  {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        @include Border(red);
        justify-content: space-evenly;
        padding: 10px;
        position: relative;
        z-index: 2;
        
        .container  {
            @extend %Container;
            @include Border(green);
        }

        #editor {

        }

        #preview    {
            color: rgb(22, 91, 219);
        }
    }

    #footer {
        min-height: 50px;
        @include Border(green);
        z-index: 1;
        position: fixed;
        bottom: 20px;
        width: 100%;
    }    
}
  
  
  
  
  