/* import Quicksand font */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$BackgroundColorForTextArea: #FAFAFA;

$AppBackgroundColor: white;

%Container  {
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
    padding: 8px;
    font-size: 24px;
    line-height: 24px;
    overflow: auto;
    // height: auto;
    width: 650px;
    font-family: 'Quicksand', 'san-serif';
    text-align: left;
    z-index: 1;
    border: 0.1px solid #C0C0C0;
    background-color: $BackgroundColorForTextArea;

    &::placeholder {
        color: rgb(22, 91, 219);
    }

    &:focus {
        background-color: white;
    }
}

@mixin FooterAndHeader($height, $z-index)    {
    position: fixed;
    width: 100%;
    height: $height;
    background-color: rgb(40,40,40);
    color: white;
    line-height: $height; // make the text vertically center using line-height method: line-height = height
    font-family: 'Quicksand', sans-serif;
    z-index: $z-index;
}

#app  {
    display: block;
    background-color: $AppBackgroundColor;
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;

    #header    {
        @include FooterAndHeader(100px, 2);
        font-weight: 900;
        font-size: 32px;
        top: 0px;

        i   {
            color: rgb(27, 100, 196);
        }
    }

    #content  {
        margin-top: 120px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        position: relative;
        z-index: 1;
        
        .container  {
            @extend %Container;
        }

        #preview    {
            color: rgb(22, 91, 219);
        }
    }

    #footer {
        @include FooterAndHeader(50px, 3);
        bottom: 0px;
        left: 0px;
    }
}